/* =========================
   INDEX PAGE ONLY STYLES
   ========================= */

/* MAIN POSTER CARD */

.poster {
  width: 90%;
  max-width: 850px;
  margin: auto;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);

  /* animation */
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.3s;
}

/* INFO BOX */
.info-box {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.6;
}
  /* Portal text*/
.portal-text{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* =========================
   LOADING SCREEN
   ========================= */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}

/* SPINNER */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255,255,255,0.2);
  border-top: 5px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

/* ANIMATIONS */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
   }

/* =========================
   ABOUT SECTION
   ========================= */

.about-section {
  margin-top: 30px;
  background: rgba(255,255,255,0.08);
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  line-height: 1.8;
  border: 1px solid rgba(255,255,255,0.1);
}

.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #38bdf8;
}

.about-section p {
  color: #e2e8f0;
  font-size: 14px;
  margin-bottom: 15px;
}


/* =========================
   SYSTEM FEATURES SECTION
   ========================= */

.features-section {
  margin-top: 30px;
  background: rgba(255,255,255,0.06);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.1);
}

.features-section h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.feature-card {
  background: rgba(255,255,255,0.08);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.12);
}

.feature-card h3 {
  color: #fbbf24;
  margin-bottom: 8px;
  font-size: 16px;
}

.feature-card p {
  font-size: 13px;
  color: #e2e8f0;
  line-height: 1.6;
}
