body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* TOP BAR */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1e293b;
  align-items: center;
}

.topbar button {
  padding: 8px 15px;
  border: none;
  background: #334155;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* LOGIN BOX */
.loginBox {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
  text-align: center;
}

.loginBox input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

/* DASHBOARD */
.hidden {
  display: none;
}

.infoCard,
.formCard,
.tableCard {
  background: #1e293b;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 8px;
  text-align: left;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* FIX VISIBILITY CONTROL */
#loginBox {
  display: block;
}

#dashboard {
  display: none;
}

/* When active */
#dashboard.active {
  display: block;
}

#loginBox.hidden {
  display: none;
}
